<!DOCTYPE html>
<html>
<head>
    <title>收支记录</title>
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.7.2/css/all.css">
    <link rel="stylesheet" href="/static/css.css">
</head>
<body>
   <h1>上传截图</h1>
   <img id="preview" src="#" alt="图片预览" style="display: none;">
    <form method="post" enctype="multipart/form-data" id="uploadForm">
        <input hidden="hidden" type="file" name="receipt" accept="image/*" id="fileInput" onchange="previewImage(this)">
        <button type="button" class="file-upload-button" onclick="document.getElementById('fileInput').click()">
        <i class="fas fa-upload"></i>  选择图片</button>
        <button type="submit" id="submitButton" style="display: none;">
        <i class="fas fa-check"></i>  开始识别</button>
    </form>
    <form method="get" action="/?">
<h3>第 <input type="text" name="page" value="{{page}}"> 页 <button type="submit">跳转</button></h3>
    </form>
    <table class="data-table" border="1">
        <tr>
            <th>时间</th>
            <th>收入</th>
            <th>支出</th>
            <th>交易应用</th>
            <th>支付平台</th>
            <th>金融终端</th>
            <th>备注</th>
            <th>分类</th>
        </tr>
        {% for record in data.records %}
        <tr>
            <td><a href="/edit?id={{ record.id }}">{{ record.transaction_time }}</a></td>
            <td>{{ record.income_amount }}</td>
            <td>{{ record.expense_amount }}</td>
            <td>{{ record.transaction_app }}</td>
            <td>{{ record.payment_platform }}</td>
            <td>{{ record.financial_terminal }}</td>
            <td>{{ record.memo }}</td>
            <td>{{ record.category }}</td>
        </tr>
        {% endfor %}
    </table>
    <script>
        function previewImage(input) {
            const preview = document.getElementById('preview');
            const file = input.files[0];
            const reader = new FileReader();
            reader.onload = function(e) {
                preview.src = e.target.result;
                preview.style.display = "block";
                document.getElementById('submitButton').style.display = "";
            };
            if (file) {
                reader.readAsDataURL(file);
            }
        }

        document.getElementById('submitButton').addEventListener('click', function() {
            document.getElementById('uploadForm').submit();
        });
    </script>
</body>
</html>